<table class="menunav h-[100%] w-[100%]">
    <tr class="menu h-full w-full">
        <td class="w-[10%] font-bold text-[130%] pl-[3%] text-white"><a href="index.html" class="text-white">MyFilmList</a></td>
        <td class="w-[40%]"></td>
        <td class="w-[5%] text-white">ad</td>
        <td class="w-[5%] items-center"><img class="h-auto w-[80%]" src="../src/picture/menu(white).png"></td>
        <td class="w-[5%] items-center"><img class="h-auto w-[60%]" src="../src/picture/pesan(white).png"></td>
        <td class="w-[20%] text-white border-l-2 pl-4">Profile</td>
        <td class="w-[5%] relative">
            <img class="ml-5 h-auto w-[35%] -rotate-90 hover:rotate-0 transition duration-1000 cursor-pointer" 
                 src="../src/picture/setting(white).png" 
                 onclick="toggleMenu()">
            <div id="menu" class="absolute right-0 z-30 mt-5 w-32 h-28 bg-gray-900 text-white rounded-md hidden">
                <ul class="p-2">
                    <li><a href="#" class="block px-2 py-1 hover:bg-gray-700">Profil</a></li>
                    <li><a href="#" class="block px-2 py-1 hover:bg-gray-700">Setting</a></li>
                    <li><a href="../User/index.html" class="block px-2 py-1 hover:bg-gray-700">Log Out</a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>
