<div class="flex tabelkonten w-[100%] h-10 bg-gray-300 place-items-center">
    <h1 class="ml-3"><b>Top Airing Anime</b></h1>
    <p class="ml-auto mr-3 text-blue-800">menu</p>
</div>
<div class="tabelairing w-[100%] h-20 mt-1">
    <div class="isitabel flex w-[100%] h-[100%]">
        <div class="text-white text-xl mx-1 pt-1 text-slate-500"><b>1</b></div>
        <div class="foto h-[100%] w-20 bg-slate-500"></div>
        <div class="informasi ml-3">
            <div class="judul h-2/4 text-blue-800"><b>Konosubarashi sekai wo Sampo Kuda</b></div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
        </div>
    </div>
</div>
<div class="tabelairing w-[100%] h-20 mt-1">
    <div class="isitabel flex w-[100%] h-[100%]">
        <div class="text-white text-xl mx-1 pt-1 text-slate-500"><b>2</b></div>
        <div class="foto h-[100%] w-20 bg-slate-500"></div>
        <div class="informasi ml-3">
            <div class="judul h-2/4 text-blue-800"><b>Konosubarashi sekai wo Sampo Kuda</b></div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
        </div>
    </div>
</div>
<div class="tabelairing w-[100%] h-20 mt-1">
    <div class="isitabel flex w-[100%] h-[100%]">
        <div class="text-white text-xl mx-1 pt-1 text-slate-500"><b>3</b></div>
        <div class="foto h-[100%] w-20 bg-slate-500"></div>
        <div class="informasi ml-3">
            <div class="judul h-2/4 text-blue-800"><b>Konosubarashi sekai wo Sampo Kuda</b></div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
        </div>
    </div>
</div>
<div class="tabelairing w-[100%] h-20 mt-1">
    <div class="isitabel flex w-[100%] h-[100%]">
        <div class="text-white text-xl mx-1 pt-1 text-slate-500"><b>4</b></div>
        <div class="foto h-[100%] w-20 bg-slate-500"></div>
        <div class="informasi ml-3">
            <div class="judul h-2/4 text-blue-800"><b>Konosubarashi sekai wo Sampo Kuda</b></div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
        </div>
    </div>
</div>
<div class="tabelairing w-[100%] h-20 mt-1">
    <div class="isitabel flex w-[100%] h-[100%]">
        <div class="text-white text-xl mx-1 pt-1 text-slate-500"><b>5</b></div>
        <div class="foto h-[100%] w-20 bg-slate-500"></div>
        <div class="informasi ml-3">
            <div class="judul h-2/4 text-blue-800"><b>Konosubarashi sekai wo Sampo Kuda</b></div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
        </div>
    </div>
</div>

<div class="flex tabelkonten w-[100%] h-10 bg-gray-300 place-items-center mt-10">
    <h1 class="ml-3"><b>Top Airing Anime</b></h1>
    <p class="ml-auto mr-3 text-blue-800">menu</p>
</div>
<div class="tabelairing w-[100%] h-20 mt-1">
    <div class="isitabel flex w-[100%] h-[100%]">
        <div class="text-white text-xl mx-1 pt-1 text-slate-500"><b>1</b></div>
        <div class="foto h-[100%] w-20 bg-slate-500"></div>
        <div class="informasi ml-3">
            <div class="judul h-2/4 text-blue-800"><b>Konosubarashi sekai wo Sampo Kuda</b></div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
        </div>
    </div>
</div>
<div class="tabelairing w-[100%] h-20 mt-1">
    <div class="isitabel flex w-[100%] h-[100%]">
        <div class="text-white text-xl mx-1 pt-1 text-slate-500"><b>2</b></div>
        <div class="foto h-[100%] w-20 bg-slate-500"></div>
        <div class="informasi ml-3">
            <div class="judul h-2/4 text-blue-800"><b>Konosubarashi sekai wo Sampo Kuda</b></div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
        </div>
    </div>
</div>
<div class="tabelairing w-[100%] h-20 mt-1">
    <div class="isitabel flex w-[100%] h-[100%]">
        <div class="text-white text-xl mx-1 pt-1 text-slate-500"><b>3</b></div>
        <div class="foto h-[100%] w-20 bg-slate-500"></div>
        <div class="informasi ml-3">
            <div class="judul h-2/4 text-blue-800"><b>Konosubarashi sekai wo Sampo Kuda</b></div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
        </div>
    </div>
</div>
<div class="tabelairing w-[100%] h-20 mt-1">
    <div class="isitabel flex w-[100%] h-[100%]">
        <div class="text-white text-xl mx-1 pt-1 text-slate-500"><b>4</b></div>
        <div class="foto h-[100%] w-20 bg-slate-500"></div>
        <div class="informasi ml-3">
            <div class="judul h-2/4 text-blue-800"><b>Konosubarashi sekai wo Sampo Kuda</b></div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
        </div>
    </div>
</div>
<div class="tabelairing w-[100%] h-20 mt-1">
    <div class="isitabel flex w-[100%] h-[100%]">
        <div class="text-white text-xl mx-1 pt-1 text-slate-500"><b>5</b></div>
        <div class="foto h-[100%] w-20 bg-slate-500"></div>
        <div class="informasi ml-3">
            <div class="judul h-2/4 text-blue-800"><b>Konosubarashi sekai wo Sampo Kuda</b></div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
            <div class="informasi h-1/4 pt-1 text-slate-500">Informasi</div>
        </div>
    </div>
</div>