<div class="flex w-[100%] h-[55px] mt-[75px] bg-blue-600 text-white">
    <div class="kiri flex w-[50%]">
        <!-- <div class="search px-5 h-auto flex items-center justify-center"><a href="DaftarFilm.html" class="text-white">Anime</a></div> -->
        <div class="relative flex items-center justify-center px-5 h-auto group">
            <a href="DaftarFilm.html" class="text-white">Anime</a>
            <div class="absolute z-30 left-0 mt-48 w-40 bg-gray-800 text-white rounded-md hidden group-hover:block">
                <ul class="p-2">
                    <li><a href="DaftarFilm.html?category=top-list-anime" class="block px-4 py-2 hover:bg-gray-700">Top List</a></li>
                    <li><a href="#" class="block px-4 py-2 hover:bg-gray-700">Kategori</a></li>
                    <li><a href="DaftarFilm.html?category=update-lates-anime" class="block px-4 py-2 hover:bg-gray-700">Update Lates</a></li>
                </ul>
            </div>
        </div>
        <div class="relative flex items-center justify-center px-5 h-auto group">
            <a href="DaftarFilm.html" class="text-white">Film</a>
            <div class="absolute z-30 left-0 mt-48 w-40 bg-gray-800 text-white rounded-md hidden group-hover:block">
                <ul class="p-2">
                    <li><a href="DaftarFilm.html?category=top-list-anime" class="block px-4 py-2 hover:bg-gray-700">Top List</a></li>
                    <li><a href="#" class="block px-4 py-2 hover:bg-gray-700">Kategori</a></li>
                    <li><a href="DaftarFilm.html?category=update-lates-anime" class="block px-4 py-2 hover:bg-gray-700">Lates Lates</a></li>
                </ul>
            </div>
        </div>
        <div class="relative flex items-center justify-center px-5 h-auto group">
            <a href="catcom.html" class="text-white">Community</a>
            <div class="absolute z-30 left-0 mt-36 w-32 bg-gray-800 text-white rounded-md hidden group-hover:block">
                <ul class="p-2">
                    <li><a href="#" class="block px-4 py-2 hover:bg-gray-700">Review</a></li>
                    <li><a href="catcom.html" class="block px-4 py-2 hover:bg-gray-700">Thread</a></li>
                </ul>
            </div>
        </div>
        <div class="search px-5 h-auto flex items-center justify-center">Help</div>
    </div>
    <div class="kanan flex justify-end w-[50%]">
        <div class="search px-5 h-auto flex items-center justify-center">
            
        </div>
        <div class="search px-5 h-auto flex items-center justify-center ">
            <div class="search overflow-hidden flex h-[45%]">
                <div><input type="text" class="flex justify-center text-white bg-gray-800 w-[100%] h-[100%] pl-3 pr-3 "></div>
                <div class="flex items-center bg-gray-600"><img class="h-[75%] hover:h-[80%] m-3" src="../src/picture/search(white).png" alt=""></div>
            </div>
        </div>
    </div>
</div>